<div class="row">
    <p class="fw-200">SHARE</p>
    <h3>
        <i class="fa-brands fa-facebook p-3"></i>
        <i class="fa-brands fa-twitter p-3"></i>
        <i class="fa-brands fa-instagram p-3"></i>
    </h3>
</div>
<div class="row">
    <p class="fw-200">GUESTS</p>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <img src="../../assets/img/photo3.jpeg" alt="twbs" width="50" height="50" class="rounded-circle flex-shrink-0">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Lisa Alvin</h6>
                    <p class="mb-0 opacity-75">Co-Founder, Meetup</p>
                </div>
                <!-- <small class="opacity-50 text-nowrap">now</small> -->
            </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <img src="../../assets/img/photo2.jpeg" alt="twbs" width="50" height="50" class="rounded-circle flex-shrink-0">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Jenny Pick</h6>
                    <p class="mb-0 opacity-75">CEO, Zack</p>
                </div>
            </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <img src="../../assets/img/photo4.jpeg" alt="twbs" width="50" height="50" class="rounded-circle flex-shrink-0">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Peter Scott</h6>
                    <p class="mb-0 opacity-75">CEO, Scott inc.</p>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <p class="fw-200">HOSTED BY</p>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <img src="../../assets/img/photo1.jpeg" alt="twbs" width="50" height="50" class="rounded-circle flex-shrink-0">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Josh Jacob</h6>
                    <p class="mb-0 opacity-75">Educator, WEb Media</p>
                </div>
            </div>
        </a>
    </div>
</div>